<h3>Selected parts of cookie</h3>
<ul>

    <li>Base: {{cookie.base}} - {{pricify (findPrice bases cookie.base)}}PLN</li>
    {{#each cookie.addons}}
        <li>
        {{#if (not ../noDeleteBtn)}}
            <a class="btn btn-small" href="/configurator/delete-addon/{{this}}">Delete</a>
        {{/if}}
        Addon: {{this}} - {{pricify (findPrice @root.addons this)}} PLN </li>
    {{/each}}

</ul>
<p>
    <strong>total of sum {{pricify sum}} PLN</strong>
</p>